extends layout

block content
  h1= title
  if (toShow == null)
   h2 No instance to update
  else
  - let bookid = toShow._id
  - let Author = toShow.Author
  - let book_name = toShow.book_name
  - let book_cost = toShow.book_cost

  div.row(class='mb-2')
    div.mr-1 ID is
    div #{bookid}

  - let actionid = "/resource/book/" + bookid
  form(id='bookForm', action= actionid, method="PUT")
    div.form-group
      label.bookAttr(for='Author') author
      input#passengerName(type='text', name='Author', value= Author )
    div.form-group
      label.bookAttr(for='book_name') book_name
      input#ticketNumber(type='text', name='book_name', value= book_name )
    div.form-group
      label.bookAttr(for='book_cost') book_Cost
      input#seatNumber(type='Number', name='book_cost', value= book_cost )
    input(type="submit")

    script.
      document.forms['bookForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show user that the form is being submitted
        fetch(event.target.action, {
          method: 'PUT',
          body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Update succeeded");
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Update failed " + error );
        });
      });