extends layout

block content
  h1= title
  form(id='bookForm', action="/resource/book", method="POST")
    div.form-group-create
      label.bookAttr1(for='Author') book_Author
      input#book_Name(type='text', name='Author')
    div.form-group-create
      label.bookAttr2(for='book_name') book_name 
      input#book_Age(type='text', name='book_name')
    div.form-group-create
      label.bookAttr3(for='book_cost') book_cost
      input#book_color(type='number', name='book_cost')
    input(type="submit")
    script.
      document.forms['bookForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show the user that the form is being submitted
        fetch(event.target.action, {
          method: 'POST',
          body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Save succeeded")
          // TODO handle the body
        }).catch((error) => {
          // TODO handle the error in
          alert("Save failed " + error )
        });
      });