body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.bookAttr {
  background-color:aquamarine ;
  width: 120px;
  }

.bookAttr1 {
    background-color: rgb(51, 0, 255);
    width: 120px;
    }
.bookAttr2 {
      background-color: rgb(255, 0, 0);
      width: 120px;
      }
      .bookAttr3{
        background-color:orange;
        width: 120px;
        }
  
